html, body {
  //min-height: 100%;
  //max-height: 100%;
  margin: 0;
}

body {
  font-size: 16px;
  background-color: #14141e;
  line-height: normal;
  width: 99.9%;
}

@font-face {
  font-family: "Airborne";
  src: url("../fonts/airborne.eot?") format("eot"), url("../fonts/airborne.woff") format("woff"), url("../fonts/airborne.ttf") format("truetype"), url("../fonts/airborne.svg#Airborne") format("svg");
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.div3 {
  width: 100%;
  justify-self: center;
}

.div1 {
  background: url("/images/B1.jpg");
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  //padding: 0 3.90625%;
  justify-content: space-between;
  height: 90vh;
}

.div2 {
  background: url("/images/ts2_tatra-phoenix_1.jpg");
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  padding-left: 7.6171875%;
  padding-bottom: 12.3046875%;
}

.div4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
  width: 100%;
  justify-self: center;
}

.div_string {
  height: 10vh;
  background: #14141e;
  padding: 0 6.25% 0 2.63671875%;
  display: flex;
  justify-content: space-between;
}

.div_string_two {
  height: 10vh;
  background: #14141e;
  padding: 0 6.25% 0 5.6640625%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div5 {
  height: 60vh;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div6 {
  height: 60vh;
  background: white;
  margin-top: -1%;
  padding: 0 0 3%;
}

.div7 {
  height: 20vh;
  display: flex;
}

.carousels {
  width: 75%;
  height: 90%;
}

%animation-default {
  opacity: 1 !important;
  z-index: 3;
}

h1, h2 {
  font-size: 187.5%;
}

h3 {
  font-size: 162.5%;
}

h4, .header_p {
  font-size: 150%;
}

h5 {
  font-size: 125%;
}

h6, .pi_b {
  font-size: 112.5%;
}

b {
  font-size: 87.5%;
}

p {
  font-size: 75%;
}

.hl_b {
  font-size: 40%;
}
.hl_h1 {
  position: absolute;
  left: 15%;
}

.hl_h1, .hl_b, .hmm_span, .hf_h5, .ha_h5, .pc_h3, .pi_b, .pi_h6, .ds_h2, .dp_h6, .fi_b, .fi_h3, .fi_span, .fm_h2, .fm_h3, .dh_h2 {
  color: white;
}

.hl_h1, .ha_h4, .ha_h6, .ds_h2, .dh_h2 {
  font-family: 'Airborne', sans-serif;
  font-weight: normal;
}

.hl_h1, .ha_h4, .ds_h2, .dh_h2, .p_h2 {
  text-transform: uppercase;
}

.hmm_span, .ha_h5, .dp_h6, .p_small, .p_h5, .p_h2, .pf_h5, .fi_b, .fi_span {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.hf_h5, .pc_h3, .pi_b, .pi_h6, .ph_h, .p_h6, .pi_p, .d5_h3, .d6_h3, .fi_h3, .fm_h3, .fm_h2 {
  font-family: Arial, sans-serif;
  font-weight: normal;
}

.hmm_span, .ha_h5, .ha_h6, .pi_h6, .ph_h3, .pc_h3, #underline,.d5_h3 {
  white-space: nowrap;
}

.pc_h3, .pi_b, .ph_h3, .d5_h3, .d6_h3, .fi_h3, .fm_h3, .fm_h2, .pi_b {
  font-weight: bold;
}

#underline {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.string_header {

}

.header_logo {
  width: 26.171875%;
  height: 100%;
  display: flex;
  position: relative;
}

.header_main_menu {
  width: 45.5078125%;
  display: flex;
}

.header-menu {
  //width: 21.4592275%;
  align-self: center;
}

.header-menu:nth-child(2) {
  margin: 0 8.58369099%;
}

.header-menu:nth-child(3) {
  margin-right: 8.58369099%;
}

.header_advantages {
  width: 21.58203125%;
  margin-top: 5.6640625%;
  margin-left: 3.90625%
}

.header_footer {
  display: flex;
  justify-content: space-between;

}

.header_info {
  width: 54.39453125%;
  align-self: flex-end;
  padding: 4.1015625% 0.29296875% 3.90625% 4.1015625%;
  background-color: rgba(0, 0, 0, 0.4);
}

.header_address {
  padding: 4.1015625% 3.02% 4.1015625% 1.76757812%;
  background-color: rgba(0, 0, 0, 0.4);
}

.pickup_caption {
  width: 56.640625%;
  margin-top: 5.46875%;
  border-bottom: solid 2px #ffffff;
}

.pickup_info {
  width: 58.59375%;
  margin-top: 2.24609375%;
}

.pickup_info:nth-child(3) {
  margin-top: 0;
}

.disassembly_photo {
  display: flex;
  width: 97.8515625%;
  flex-wrap: wrap;
  justify-self: center;
  margin: 0 auto;
  justify-content: space-between;
}

.disassembly_pictures {
  width: 21.903531971169782%;
  //height: 30.689655172413793%;

}

.disassembly_header {
  //width: 16.6992188%;
  display: flex;
  justify-content: center;
  margin-top: 2.24609375%;
  margin-bottom: 5.37109375%;
}

.price {
  width: 97.8515625%;

  display: flex;
  justify-content: space-between;
}

.prices {
  width: 48.046875%;
  background: white;
  padding-top: 1.3671875%;
  padding-left: 1.66015625%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.prices_header {
  width: 100%;
  display: flex;
}

.pr_border {
  width: 28.90625%;
  border-bottom: 1px solid;
  height: 2rem;
}

.price_head {
  width: 42.1875%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 4.58984375%;
  margin-bottom: 3.125%;
}

.prices_info {
  width: 100%;
  border: 1px solid black;
  margin-top: 1.953125%;
}

.ha_h4 {
  margin-bottom: 10.3900602%;
}

.ha_h5 {
  margin: 2.80210158% 0;
}

.ha_h6 {
  margin-bottom: 4.16666667%;
}

.hf_h5 {
  position: relative;
}

.header_p {
  position: absolute;
  top: -20%;
  left: -2%;
}

.pc_h3:nth-child(2) {
  margin-top: 1.8018018%;
  margin-bottom: 2.34234234%;
}

.pi_h6 {
  margin: 3.6036036% 0;
}

.dp_img {
  width: 100%;
  max-width: 100%;
  margin-top: 10.4051904%;
  margin-bottom: 25.8293549%;
}

.p_h2 {
  margin-top: 2.83913463%;
  text-align: center;
  margin-bottom: 3.855469%;
}

.p_h5 {
  margin-bottom: 2.71186441%;
}

.p_footer {
  margin-top: 27.1186441%;
}

.pf_h5 {
  margin-bottom: 2.58175559%;
}

.pi_p {
  padding: 1.69050715%;
}

.d5_h3 {
  padding: 1%;
}

.d6_h3 {
  padding: 2rem 0;
  padding-left: 3.90625%
}

.map {
  height: 75%;
}

.hl_h1, .pr_border, .header_address a img {
  align-self: center;
}

@mixin carousel($items, $animation: 'default') {
  .carousel ul li {
    width: auto;
  }
  .carousel ul {
    height: 100%;
  }
  .carousel {
    position: relative;
    height: 100%;

    > input[type="radio"] {
      position: absolute;
      left: 0;
      opacity: 0;
      top: 0;

      &:checked {
        ~ .carousel__items .carousel__item,
        ~ .carousel__prev > label,
        ~ .carousel__next > label {
          opacity: 0;
        }
      }

      @for $i from 1 through $items {
        &:nth-child(#{$i}) {
          &:checked {
            ~ .carousel__items .carousel__item {
              @if $animation == 'default' {
                &:nth-child(#{$i}) {
                  opacity: 1;
                }
              }
            }

            ~ .carousel__prev {
              > label {
                @if $i == 1 {
                  &:nth-child(#{$items}) {
                    @extend %animation-default;
                  }
                } @else if $i == $items {
                  &:nth-child(#{$items - 1}) {
                    @extend %animation-default;
                  }
                } @else {
                  &:nth-child(#{$i - 1}) {
                    @extend %animation-default;
                  }
                }
              }
            }

            ~ .carousel__next {
              > label {
                @if $i == $items {
                  &:nth-child(1) {
                    @extend %animation-default;
                  }
                } @else {
                  &:nth-child(#{$i + 1}) {
                    @extend %animation-default;
                  }
                }
              }
            }

            ~ .carousel__nav {
              > label {
                &:nth-child(#{$i}) {
                  background: #ccc;
                  cursor: default;
                  pointer-events: none;
                }
              }
            }
          }
        }
      }
    }

    &__items {
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
    }

    &__item {
      position: absolute;
      width: 100%;
      z-index: 1;
      transition: opacity 2s;
      -webkit-transition: opacity 2s;

      img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
        height: 100%;
      }
    }

    &__prev,
    &__next {
      > label {
        border: 1px solid #000000;
        border-radius: 50%;
        background: black;
        cursor: pointer;
        display: block;
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        opacity: 0;
        z-index: 2;

        &:hover,
        &:focus {
          opacity: .5 !important;
        }

        &:before,
        &:after {
          content: "";
          position: absolute;
          width: inherit;
          height: inherit;
        }

        &:before {
          background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%),
          linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
          width: 60%;
          height: 60%;
          top: 20%;
        }
      }
    }

    &__prev {
      > label {
        left: -10%;

        &:before {
          left: 35%;
          top: 20%;
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
        }
      }
    }

    &__next {
      > label {
        right: -10%;

        &:before {
          left: 10%;
          transform: rotate(315deg);
          -webkit-transform: rotate(315deg);
        }
      }
    }

    &__nav {
      position: absolute;
      bottom: 3%;
      left: 0;
      text-align: center;
      width: 100%;
      z-index: 3;

      > label {
        border: 1px solid #fff;
        display: inline-block;
        border-radius: 50%;
        cursor: pointer;
        margin: 0 .125%;
        width: 20px;
        height: 20px;
      }
    }
  }
}

*,
*:before,
*:after {
  //box-sizing: border-box;
  //-webkit-box-sizing: border-box;
  //-moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer_info {
  display: flex;
  flex-direction: column;
  width: 17.6757812%;
  margin-left: 7.71484375%;

}

.footer_info:nth-child(2) {
  width: 7.6171875%;
  margin-left: 11.6210938%;
}

.footer_mib {
  margin-left: 15.9179688%;
}

.fi_h3, .fm_h3 {
  margin-top: 1.4375rem;
  margin-bottom: 0.75rem;
}

.fi_b, .footer_info > a {
  margin-bottom: 0.3125rem;
}

.footer_info a:last-child {
  margin-bottom: 1.06rem;
}

img {
  max-width: 100%;
}
.fm_h2 {
  width: 25%;
}

.logo_img {
  width: 23%;
  height: 100%;
  opacity: 0.1;
}

.header_address a {
  display: flex;
}

.header_address a img {
  width: 4.04820875%;
  margin-right: 1.18164062%;
}

@include carousel(5);

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 800px) {
  body {
    font-size: 85%;
  }
}

@media screen and (max-width: 700px) {
  body {
    font-size: 80%;
  }
}
@media screen and (max-width: 650px) {
  body {
    font-size: 75%;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 70%;
  }
}
@media screen and (max-width: 550px) {
  body {
    font-size: 60%;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 55%;
  }
}
@media screen and (max-width: 450px) {
  body {
    font-size: 49%;
  }
}

@media screen and (max-width: 400px) {
  body {
    font-size: 45%;
  }
}
@media screen and (max-width: 375px) {
  body {
    font-size: 40%;
  }
}
@media screen and (max-width: 350px) {
  body {
    font-size: 38%;
  }
}


