<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>СОЮЗМЕТТРЕЙД.</title>
    <link rel="stylesheet" href="style/index.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="description"
          content="Созюзметтрейд - Металлолом в Казани, Демонтаж, самовывоз, приём металолома Тел:215-38-28">
    <meta name="keywords"
          content="союзметтрейд ,союзметтрейд саит,союзметтрейд казань,союзметтрейд цены,прием металлолома в Казани,металлолом цена,лом цена,лом цена казань,цветной металл,лом,нержавейка,металлолом, металл прием, прием металлолома, цветной металл, металлолом цена,цветной металл казань,лом казань,нержавейка казань,металлолом казань, металл прием казань, прием металлолома казань, цветной металл казань, металлолом цена казань, вывоз металлолома, Казань,самовывоз металла,прием аккумуляторов.">
    <meta name="google-site-verification" content="z4jzfvLPpn5l0xW-UBmzH4_jGyI7Lc_cr7zpDoRwfBw"/>
    <meta name="yandex-verification" content="d8d3107f12709e81"/>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter47048223 = new Ya.Metrika({
                        id: 47048223,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        webvisor: true
                    });
                } catch (e) {
                }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () {
                    n.parentNode.insertBefore(s, n);
                };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else {
                f();
            }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/47048223" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
<div class="wrapper">
    <div class="div_string">
        <div class="header_logo"><img class="logo_img" src="images/Desktop.png" alt="">
            <h1 class="hl_h1">СоюзМетТрейд
                <b class="hl_b">Металлолом в Казани<a name="about" href=""></a></b>
            </h1>
        </div>
        <div class="header_main_menu">
            <div class="header-menu">
                <a class="hmm_a" href="#caption">
                    <span id="underline" class="hmm_span">Самовывоз</span>
                </a>
            </div>
            <div class="header-menu">
                <a class="hmm_a" href="#disassembly">
                    <span id="underline" class="hmm_span">Демонтаж</span>
                </a>
            </div>
            <div class="header-menu">
                <a class="hmm_a" href="#price">
                    <span id="underline" class="hmm_span">Прайс</span>
                </a>
            </div>
            <div class="header-menu">
                <a class="hmm_a" href="#about">
                    <span id="underline" class="hmm_span">О компании</span>
                </a>
            </div>
        </div>
        <div class="header_nav_menu">
            <div class="b-nav">
                <li><a class="b-link" href="#caption">Самовывоз</a></li>
                <li><a class="b-link" href="#disassembly">Демонтаж</a></li>
                <li><a class="b-link" href="#price">Прайс</a></li>
                <li><a class="b-link" href="#about">О компании</a></li>
            </div>
            <!--<!— Burger-Icon —>-->
            <div class="b-container">
                <div class="b-menu">
                    <div class="b-bun b-bun--top"></div>
                    <div class="b-bun b-bun--mid"></div>
                    <div class="b-bun b-bun--bottom"></div>
                </div>
                <!--<!— Burger-Brand —>-->
                <a href="#" class="b-brand">Меню</a>
            </div>
        </div>
    </div>
    <div class="div1">
        <div class="header_advantages">
            <h4 class="ha_h4">Приемущества</h4>
            <h6 class="ha_h6">Работы любой сложности</h6>
            <h6 class="ha_h6">Быстрое выполнение</h6>
            <h6 class="ha_h6">Оплата онлайн</h6>
            <h6 class="ha_h6">Выгодные цены</h6>
        </div>
        <div class="header_footer">
            <div class="header_info">
                <h5 class="hf_h5"><p class="header_p">*</p>Мы работаем с разными объемами, наши услуги будут интересны
                    как крупным заказчикам, так и частным лицам, имеющих маленький объем работ.
                </h5>
            </div>
            <div class="header_address">
                <a href=""><img src="images/noun_1178924_cc11.png" alt=""><h5 class="ha_h5">Пос.Юдино, ул.Новостройки
                        д.1</h5></a>
                <a href="tel:215-38-28"><img src="images/noun_1429603_cc222.png" alt=""><h5 id="underline"
                                                                                            class="ha_h5">
                        Тел:215-38-28</h5></a>
                <a style="margin-left: 5%" href="tel:+7-90-33-14-05-95"><h5 id="underline" class="ha_h5">
                        Тел:+7-90-33-14-05-95</h5></a>
                <a href="#map"><img style="margin-top: 3%" src="images/noun_1383768_cc33.png" alt=""><h5 id="underline"
                                                                                                         style="margin-bottom: 0"
                                                                                                         class="ha_h5">
                        Схема проезда</h5></a>
            </div>
        </div>
    </div>
    <div class="div_string_two"><a name="caption" href=""></a>
        <div class="string_header">
            <h2 class="ds_h2">Самовывоз </h2>
        </div>
    </div>
    <div class="div2">
        <div class="pickup_caption">
            <h3 class="pc_h3">Самовывоз–приём металлолома с вывозом.</h3>
            <h3 class="pc_h3">Работаем по Казани и области.</h3>
        </div>
        <div class="pickup_info">
            <b class="pi_b">–Цветной металлолом</b>
            <h6 class="pi_h6">Минимальная партия цветного металлолома, при самовывозе от 100 кг</h6>
            <h6 class="pi_h6">При большом объёме цена становится выше–(Подробнее по телефону)</h6>
        </div>
        <div class="pickup_info">
            <b class="pi_b">–Чёрный металлолом</b>
            <h6 class="pi_h6">Минимальная партия чёрного металлолома, при самовывозе от 1000 кг</h6>
            <h6 class="pi_h6">При большом объёме цена становится выше–(Подробнее по телефону)</h6>
            <b class="pi_b">Подробности по телефону тел:215-38-28</b>
        </div>
    </div>
    <div class="div3"><a name="disassembly" href=""></a>
        <div class="disassembly_header">
            <h2 class="dh_h2">Демонтаж </h2>
        </div>
        <div class="disassembly_photo">
            <div class="disassembly_pictures">
                <h6 class="dp_h6">Зданий и сооружений</h6>
                <img class="dp_img" src="images/bitmap1.png" alt="">
            </div>
            <div class="disassembly_pictures">
                <h6 class="dp_h6">Заборов и ограждений</h6>
                <img class="dp_img" src="images/bitmap22.png" alt="">
            </div>
            <div class="disassembly_pictures">
                <h6 class="dp_h6">Подвижного состава</h6>
                <img class="dp_img" src="images/bitmap33.png" alt="">
            </div>
            <div class="disassembly_pictures">
                <h6 class="dp_h6">Кранов</h6>
                <img class="dp_img" src="images/bitmap44.png" alt="">
            </div>
            <div class="disassembly_pictures">
                <h6 class="dp_h6">Судов</h6>
                <img class="dp_img" src="images/bitmap55.png" alt="">
            </div>
            <div class="disassembly_pictures">
                <h6 class="dp_h6">Металлолома</h6>
                <img class="dp_img" src="images/bitmap66.png" alt="">
            </div>
            <div class="disassembly_pictures">
                <h6 class="dp_h6">Заводов</h6>
                <img class="dp_img" src="images/bitmap77.png" alt="">
            </div>
            <div class="disassembly_pictures">
                <h6 class="dp_h6">Авто</h6>
                <img class="dp_img" src="images/bitmap88.png" alt="">
            </div>
        </div>
    </div>
    <div class="div4"><a name="price" href=""></a>
        <div class="prices_header">
            <div class="pr_border"></div>
            <div class="price_head">
                <h3 class="ph_h3">Прайс листы на услуги компании</h3>
            </div>
            <div class="pr_border"></div>
        </div>
        <div class="price">
            <div class="prices">
                <small class="p_small">Прайс лист компании:</small>
                <h2 class="p_h2">СоюзМетТрейд</h2>
                <h5 class="p_h5">Чёрные металлы:</h5>
                <h5 class="p_h5">3А–9.500₽</h5>
                <h5 class="p_h5">5А–9.000₽</h5>
                <h5 class="p_h5">12А–9.000₽</h5>
                <h5 class="p_h5">17А–9.500₽</h5>
                <h5 class="p_h5">20А–9.500₽</h5>
                <h6 class="p_h6">Цены варьируются от объема </h6>
                <div class="p_footer">
                    <h5 class="pf_h5">Дата: 28.11.2017</h5>
                    <h5 class="pf_h5">Директор компании:</h5>
                </div>
            </div>
            <div class="prices">
                <small class="p_small">Прайс лист компании:</small>
                <h2 class="p_h2">СоюзМетТрейд</h2>
                <h5 class="p_h5">Цветные металлы:</h5>
                <h5 class="p_h5">Алюминий– от 40₽</h5>
                <h5 class="p_h5">Латунь– от 150₽</h5>
                <h5 class="p_h5">Медь– от 250₽</h5>
                <h5 class="p_h5">Нержавейка– от 35₽</h5>
                <h5 class="p_h5">АКБ– от 40₽</h5>
                <h6 class="p_h6">Цены варьируются от объема </h6>
                <div class="p_footer">
                    <h5 class="pf_h5">Дата: 28.11.2017</h5>
                    <h5 class="pf_h5">Директор компании:</h5>
                </div>
            </div>
        </div>
        <div class="prices_info">
            <p class="pi_p">* ВСЕ ЦЕНЫ, УКАЗАННЫЕ НА САЙТЕ ПРИВЕДЕНЫ КАК СПРАВОЧНАЯ ИНФОРМАЦИЯ И НЕ ЯВЛЯЮТСЯ ПУБЛИЧНОЙ
                ОФЕРТОЙ,
                ОПРЕДЕЛЯЕМОЙ ПОЛОЖЕНИЯМИ СТАТЬИ 437 ГРАЖДАНСКОГО КОДЕКСА РФ И МОГУТ БЫТЬ ИЗМЕНЕНЫ В ЛЮБОЕ ВРЕМЯ БЕЗ
                ПРЕДУПРЕЖДЕНИЯ.</p>
        </div>
    </div>
    <div class="div5">
        <h3 class="d5_h3">Примеры нашей работы</h3>
        <div class="carousels">
            <div class="carousel">
                <input type="radio" id="carousel-1" name="carousel[]" checked>
                <input type="radio" id="carousel-2" name="carousel[]">
                <input type="radio" id="carousel-3" name="carousel[]">
                <input type="radio" id="carousel-4" name="carousel[]">
                <input type="radio" id="carousel-5" name="carousel[]">
                <ul class="carousel__items">
                    <li class="carousel__item"><img src="images/carousel-1.jpg" alt=""></li>
                    <li class="carousel__item"><img src="images/carousel-2.jpg" alt=""></li>
                    <li class="carousel__item"><img src="images/carousel-3.jpg" alt=""></li>
                    <li class="carousel__item"><img src="images/carousel-4.jpg" alt=""></li>
                    <li class="carousel__item"><img src="images/carousel-9.jpg" alt=""></li>
                </ul>
                <div class="carousel__prev">
                    <label for="carousel-1"></label>
                    <label for="carousel-2"></label>
                    <label for="carousel-3"></label>
                    <label for="carousel-4"></label>
                    <label for="carousel-5"></label>
                </div>
                <div class="carousel__next">
                    <label for="carousel-1"></label>
                    <label for="carousel-2"></label>
                    <label for="carousel-3"></label>
                    <label for="carousel-4"></label>
                    <label for="carousel-5"></label>
                </div>
                <div class="carousel__nav">
                    <label for="carousel-1"></label>
                    <label for="carousel-2"></label>
                    <label for="carousel-3"></label>
                    <label for="carousel-4"></label>
                    <label for="carousel-5"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="div6"><a name="map" href=""></a>
        <h3 class="d6_h3">Мы на карте</h3>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2241.93579163451!2d48.915263115634446!3d55.81171508056923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41595470eb263e8d%3A0xc5041ad2a6823511!2z0YPQuy4g0J3QvtCy0L7RgdGC0YDQvtC50LrQuCwgMSwg0JrQsNC30LDQvdGMLCDQoNC10YHQvy4g0KLQsNGC0LDRgNGB0YLQsNC9!5e0!3m2!1sru!2sru!4v1512803102136"
                    width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="div7">
        <div class="footer_info">
            <h3 class="fi_h3">Адрес</h3>
            <b class="fi_b">Пос.Юдино, ул.Новостройки д.1</b>
            <a href="tel:215-38-28"><span id="underline" class="fi_span">Тел:215-38-28</span></a>
            <a href="tel:+7-90-33-14-05-95"><span id="underline" class="fi_span">Тел:+7-90-33-14-05-95</span></a>
        </div>
        <div class="footer_info">
            <h3 class="fi_h3">Меню</h3>
            <a href="#caption"><span id="underline" class="fi_span">Самовывоз</span></a>
            <a href="#disassembly"><span id="underline" class="fi_span">Демонтаж</span></a>
            <a href="#price"><span id="underline" class="fi_span">Прайс</span></a>
            <a href="#about"><span id="underline" class="fi_span">О компании</span></a>
        </div>
        <div class="footer_mib">
            <h3 class="fm_h3">Сайт сделан: <a href="http://mib.store/"><h2 id="underline" class="fm_h2">MIB</h2></a></h3>

        </div>
    </div>
</div>
<script>
    'use strict';

    (function () {
        var body = document.body;
        var burgerMenu = document.getElementsByClassName('b-menu')[0];
        var burgerContain = document.getElementsByClassName('b-container')[0];
        var burgerNav = document.getElementsByClassName('b-nav')[0];

        burgerMenu.addEventListener('click', function toggleClasses() {
            [body, burgerContain, burgerNav].forEach(function (el) {
                el.classList.toggle('open');
            });
        }, false);
    })();
</script>
</body>
</html>